/*menu base styles*/
.nav{
  width: 100vw;
}
nav{
    background-color: black;
}
nav ul{
  list-style-type:none;
  padding: 0;
}
nav a{
  text-decoration: none;
  display:block;
  padding:10px;
}
nav ul{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

nav li a{
  color:white;
  font-size: 3rem;
}

@media screen and (max-width:989px){
  nav li a{
    font-size: 1rem;
  }
}
@media screen and (max-width:320px){
  nav li a{
    font-size: 0.8rem;
  }
}



/*.nav{

    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
a{
  color:white;
  text-decoration: none;
  font-size: 3rem;
}*/
